cache/*
log/*
web/adminwiki/*
web/uploads/*
web/files/*
config/databases.yml
config/propel.ini
data/sql/*
data/a_writable/*
data/fixtures/*
lib/filter/doctrine/base/Base*
lib/filter/doctrine/*Plugin/base/Base*
lib/form/doctrine/base/Base*
lib/form/doctrine/*Plugin/base/Base*
lib/model/doctrine/base/Base*
lib/model/doctrine/*Plugin/base/Base*
lib/model/om/*
lib/model/map/*
